:root{
--primary-text-color:#757575;
--title-text-color:#212121;
--secondary-text-color:#fff;
--background-button-color:#2196f3;
--primary-background-color:#fff;
--team-color:#F5F4FA;
--logo-color:#000;
--secondary-background-color:#2F303A;
--port-button-color:#EEEEEE;
}

.site-list{
    color:var(--title-text-color);
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
list-style: none;
}
.site-link{
    text-decoration: none;
    color: var(--title-text-color);
}
.site-link:hover,
.site-link:focus{
    color: var(--background-button-color);
}

footer{
    background-color: #2F303A;
}


.footer-logo{
    color: var(--primary-background-color);
    
}
.footer{
    color: var(--primary-background-color);
    
}
.grey{
    color: rgb(200, 200, 200);
    cursor: pointer;
    text-decoration: none;
}
.ggg{
    padding: 20px;
    
}
body{
    
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: 'Roboto';
    font-size: 14px;  
}
/*header*/

.contacts{
    color: var(--title-text-color);
    
}
.contacts:hover{
    color: var(--background-button-color);
}
.ctudiya{
    color: var(--title-text-color);
   
}
.ctudiya:hover{
    color: var(--background-button-color);
}
.portfolio{
    color: var(--title-text-color);
    
}
.portfolio:hover{
    color: var(--background-button-color);
}

header{
    background: var(--primary-background-color);
}
.web{
    color: var(--background-button-color);
    font-family: 'Raleway';
    font-weight: 700;
}
.studio{
    color: var(--logo-color);
    font-family: 'Raleway'sans-serif;
    font-weight: 700;
}
.studio-white{
    color: var(--primary-background-color);
    font-family: 'Raleway'sans-serif;
    font-weight: 700;
}
.post{
    background-color: var(--secondary-background-color);
    padding-top :200px ;
    padding-left:452px ;
    padding-right:452px ;
    padding-bottom: 200px;
}
.post-title{
    color: var(--primary-background-color);
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.post-button{
    color:var(--primary-background-color) ;
    background-color: var(--background-button-color);
    cursor: pointer;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    margin: 0 auto;
}

.port-div{
    margin-top: 94px;
    margin-bottom:50px ;
}
/*benefits*/
.benefits-name{
    color: var(--title-text-color);
    font-size: 14px;
    font-family: Roboto;
    font-weight: 700;
    letter-spacing: 0.42px;
    
}
.benefits-text{
    color: var(--primary-text-color);
    font-size: 14px;
    font-family: Roboto;
    letter-spacing: 0.42px;
    font-weight: 400;
    line-height: 24px;
}
/*what do we do*/
.activity{
    background-color: var(--primary-background-color);
}
.title{
    color: var(--title-text-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    

}

/* OUR TEAM */
.team{
    background-color: var(--team-color);
}
.team-card{
    background-color: var(--primary-background-color);
    margin: 50px;
    width: 270px;

    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-name{
    color: var(--title-text-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: center;
}
.team-position{
    color: var(--primary-text-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: center;
}
/*port*/
.port-button{
    background-color: var(--port-button-color);
    cursor: pointer;
    border: none;
    font-family: Roboto;
}
.port-button:hover{
    background-color: var(--background-button-color);
    color: var(--primary-background-color);
}
.port.class{
    background-color: var(--port-button-color);
    margin: 30px;
    border: 1px solid #EEE;
}
.port-info{
    color: var(--primary-text-color);
}
.port-name{
    color: var(--title-text-color);
}
li{
    text-decoration: none;
}
.logo{
    font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}





